:root {
  --spin-start: 0;
  --spin-end: 0;
  --counter-position: 0;
  /* Colors */
  --bg-color: #252c4a;
  --blue: #2a8ded;
  --bg-answer: #25304e;
  --border-answer: #20486a;
  --red: #fc4f6c;
  --purple: #b56ffb;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  max-height: 100vh;
  background-color: var(--bg-color);
  font-family: sans-serif;
  color: aliceblue;
  font-weight: bold;
  letter-spacing: 2px;
}

.header {
  height: 75px;
  background-color: var(--red);
  margin-bottom: 15vh;
}

.roulette {
  position: relative;
}

.roulette__arrow {
  position: absolute;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  border-top: 30px solid #efd780;
  top: -10px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
}

.roulette__sections {
  display: grid;
  grid-template-columns: repeat(2, 150px);
  grid-template-rows: repeat(2, 150px);
  align-items: center;
  justify-items: center;
  width: 300px;
  height: 300px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 50%;
  background-image: conic-gradient(
    #009ddc 0deg 90deg,
    #963d97 90deg 180deg,
    #f6821f 180deg 270deg,
    #62bb47 270deg 360deg
  );
  transform: rotate(var(--spin-start));
}

.roulette__sections--spin {
  animation: spin 5s ease-in-out forwards;
}

.roulette__section {
  padding-top: 20px;
}

.roulette__section--first {
  transform: rotate(-45deg);
}

.roulette__section--second {
  transform: rotate(45deg);
}

.roulette__section--third {
  transform: rotate(-135deg);
}

.roulette__section--fourth {
  transform: rotate(135deg);
}

.roulette__button {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50px;
  height: 50px;
  border-radius: 50%;
  outline: none;
}

@keyframes spin {
  from {
    transform: rotate(var(--spin-start));
  }
  to {
    transform: rotate(var(--spin-end));
  }
}

.question-container {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background-color: var(--bg-color);
  text-align: center;
  z-index: 10;
  transition: transform 0.2s;
  transform: scale(0);
}

.question-container--show {
  transform: scale(1);
}

.counter {
  position: relative;
  height: 50px;
  width: 75%;
  margin: 1em auto;
  background-color: var(--bg-answer);
  border: 2px solid var(--border-answer);
  border-radius: 1.5em;
  overflow: hidden;
}

.counter::before {
  content: '';
  position: absolute;
  left: 0;
  height: 100%;
  width: 100%;
  transform: translateX(var(--counter-position));
  background-image: linear-gradient(var(--red), var(--purple));
}

.counter__time {
  position: relative;
  z-index: 1;
}

.question {
  font-size: 1.4rem;
}

.answer {
  background-color: var(--bg-answer);
  border-radius: 1.5em;
  width: 75%;
  margin-left: auto;
  margin-right: auto;
  border: 2px solid var(--border-answer);
  line-height: 2.5;
}
